header {
    display:flex;
    justify-content: space-between;
    height:100px;
    background:navy;
    align-items: center;
}

.logo {
    margin-left: 20px;
    color:white;
    font-size:50px;
}

.nav {
    display:flex;
    margin-right: 20px;
    color:white;
    width:200px;
    justify-content: space-between;
}

Link {
    text-decoration: none;
}

i {
    font-size: 35px;
    color:white;
}


